
      <!-- Footer -->
      <footer class="footer" style="background: rgb(215,246,255);
background: linear-gradient(90deg, rgba(215,246,255,1) 72%, rgba(159,219,252,1) 100%, rgba(4,23,143,1) 100%);">
        <div class="row align-items-center justify-content-xl-between" >
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a href="https://appseed.us/admin-dashboards/django-dashboard-argon" 
                 class="font-weight-bold ml-1" target="_blank">MyCAR</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://www.creative-tim.com" 
                 class="font-weight-bold ml-1" target="_blank"> ESI-SBA</a>2019/2020
            </div>
          </div>
        </div>
      </footer>
