
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
          {% if 'index' in segment %}
             <a class="h4 mb-0 text-black-50 text-uppercase d-none d-lg-inline-block" href="#">Dashboard</a>
          {% endif %}
      {% if 'users' in segment %}
             <a class="h4 mb-0 text-black-50 text-uppercase d-none d-lg-inline-block" href="#">Users</a>
          {% endif %}
      {% if 'advices' in segment %}
             <a class="h4 mb-0 text-black-50 text-uppercase d-none d-lg-inline-block" href="#">Advices</a>
          {% endif %}

        <!-- Form -->

        <!-- User -->
      </div>
    </nav>
    <!-- End Navbar -->

