{% extends 'layouts/base-site.html' %}

{% block title %} MyCAR contact {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container">

                <!-- Page Heading/Breadcrumbs -->


                <!-- Content Row -->
                <div class="row">
                  <!-- Map Column -->

                  <!-- Contact Details Column -->
                  <div class="col-lg-6 mb-4">
                    <h3>Contact Details</h3>
                    <p>
                      Contact us on g-mail if you have any questions or if you face any problem with the app
                      <br>MyCAR ESI-SBA
                      <br>
                    </p>
                    <p>
                      <abbr title="Email">Email</abbr>:
                      <a href="mailto:mycarcompanyesi@gmail.com">mycarcompanyesi@gmail.com
                      </a>
                    </p>

                  </div>
                </div>
                <!-- /.row -->

                <!-- Contact Form -->
                <!-- In order to set the email add<br/><br/><br/><br/><br/><br/>ress and subject line for the contact form go to the bin/contact_me.php file. -->
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <!-- /.row -->

              </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}