{% extends 'layouts/base-site.html' %}

{% block title %} MyCAR {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->



      <!-- Page Content -->
      <div class="container">

        <h1 class="my-4">Welcome to MyCAR</h1>

        <!-- Marketing Icons Section -->
        <div class="row">
          <div class="col-lg-12 mb-4">
            <div class="card h-100">
              <h4 class="card-header">MyCAR App description</h4>
              <div class="card-body">
                  <div class="row">
                      <p class="card-text col-lg-6">MyCAR is an ANDROID application for trace the maintenance of users' cars, and its states. It like a digital service book that help the user to trace his car state easily and most importantly, he can get advices of good habits for the safety of the car, and recommendation to warn him of any futuristic maintenance.</p>
                  <img class="col-lg-6" src="/static/assets/img/brand/description_img.png"/>
                  </div>

              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <h2>MyCAR Features</h2>

        <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title text-blue">
                  Easy trace maintenance
                </h4>
                <p class="card-text">The android make adding or tracing history of the car maintenance very easily without any paper work and pens.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title text-blue">
                  Data synchronisation
                </h4>
                <p class="card-text">In order to keep the maintenance history safe from being lost, the app sync the local data with online server and you data will be always available.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title text-blue">
                  Maintenance reminder
                </h4>
                <p class="card-text">In the case of engine oil change forgetting will be big problem for the safety of the car, the app can reminder the user periodically.</p>
              </div>
            </div>
          </div>

            <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title text-blue">
                  buy a car with full service maintenance
                </h4>
                <p class="card-text">when you buy a used car, with MyCAR app you can easily get its service book with it if the seller user have the app.</p>
              </div>
            </div>
          </div>

            <div class="col-lg-4 col-sm-6 mb-4 portfolio-item">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title text-blue">
                  use app even when off-line
                </h4>
                <p class="card-text">the app save the maintenance data locally and synced automatically, that make it easy for the user.</p>
              </div>
            </div>
          </div>

        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
          <div class="col-lg-5 ml-4">
            <h2>MyCAR Maintenance Recommendation</h2>
            <p>MyCAR server can store the history of cars maintenance, than processing this data, and recommend to the user next maintenance to be checked based on the previous failure.</p>

            <p>That concept is known as predictive maintenance with Off-Board data.</p>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="https://www.bosch-mobility-solutions.com/media/global/products-and-services/mobility-services/predictive-diagnostics/pd_produktseite_thumbnail.jpg" alt="">
          </div>
        </div>
        <!-- /.row -->

        <hr>



      </div>


      <br/>
 <br/>
 <br/>
 <br/>
 <br/>


    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}